
/* Your CSS Code here. */
h1{
	text-align:center;
}
form{
	width:600px;
	height:600px;
	border:1px solid black;
}
#first{
	display: flex;
	justify-content: space-between;
}
.invalid-feedback {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}